.profile {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
}

.profile-info {
  height: 40%;
  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 22px;
  gap: 50px;
  color: var(--neutral-color);
}

.profile-info__info address {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-info__name,
.profile-info__country {
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
}

.profile-info__addr {
  font-size: 20px;
  font-weight: bold;
}

.profile-info__country {
  font-style: italic;
}

.profile-info__button {
  color: var(--neutral-color);
  font-family: var(--tertiary-font);
  font-weight: bold;
}

.profile-info__button:hover {
  text-decoration: solid underline;
}

.profile-settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-height: 600px;
}

.profile-settings__form {
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow-y: scroll;
}

.profile-settings__form::-webkit-scrollbar {
  display: none;
}

.profile-settings__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
}

.profile-settings__form input {
  min-width: 300px;
  padding: 10px;
  font-size: 18px;
  font-family: var(--secondary-font);
  color: var(--neutral-color);
  font-weight: bold;
}

label {
  font-family: var(--tertiary-font);
  font-size: 20px;
  color: var(--neutral-color);
  font-weight: bold;
}

.profile-settings__button {
  color: var(--neutral-color);
  font-family: var(--tertiary-font);
  font-weight: bold;
  font-size: 22px;
  background: var(--button-color);
  width: 100%;
  padding: 10px;
}

.profile-settings button {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
}
