@import url("https://fonts.googleapis.com/css2?family=Cormorant+SC:wght@300;400;500;600;700&family=Cormorant:ital,wght@0,300..700;1,300..700&family=GFS+Didot&family=Give+You+Glory&display=swap");

/* main styles */

:root {
  --primary-font: "GFS Didot", serif;
  --secondary-font: "Cormorant", serif;
  --tertiary-font: "Cormorant SC", serif;
  --accent-font: "Give You Glory", cursive;
  --primary-gradient-color: rgb(255, 255, 255);
  --secondary-gradient-color: rgba(30, 30, 30, 0.6);
  --neutral-color: #2b2b2b;
  --accent-color: #e8b4b8;
  --button-color: #b4b3b3;
  --footer-color: #2e2e2e;
  --disclaimer-color: #ddd;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: var(--primary-gradient-color);
  background: radial-gradient(
    circle at center,
    var(--primary-gradient-color) 0%,
    var(--secondary-gradient-color) 80%
  );
  overflow-y: auto;
}

.headings {
  font-family: var(--tertiary-font);
  font-weight: bold;
  font-size: 32px;
  color: var(--neutral-color);
}

.header {
  width: 100%;
  position: fixed;
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr auto;
}

.header a {
  text-decoration: none;
}

.header__heading {
  grid-column: 1;
  margin: 50px;
  line-height: 3rem;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  color: var(--neutral-color);
}

.header__heading > span {
  font-family: var(--secondary-font);
}

.header__nav {
  grid-column: 4 / 5;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav-links {
  grid-column: 1;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.header__nav-links > a {
  text-decoration: none;
  color: var(--neutral-color);
  font-family: var(--tertiary-font);
  font-weight: bold;
  font-size: 22px;
}

.header__nav-menu {
  grid-column: 5;
}

.content {
  margin-top: 15%;
  min-height: 700px;
  flex: 1;
}

.home {
  min-height: 980px;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.carousel {
  height: 100%;
  min-width: 50%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 10px;
  scroll-snap-type: y mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.carousel::-webkit-scrollbar {
  display: none;
}

/* elements under carousel */
.carousel__slide {
  min-height: 980px;
  max-height: 980px;
  object-fit: cover;
  scroll-snap-align: center;
}

.info {
  margin-top: 10%;
  padding-right: 5%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info__heading {
  background-color: var(--accent-color);
  max-width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info__heading-collection,
.info__heading-name {
  font-family: var(--accent-font);
  color: var(--neutral-color);
  font-size: 50px;
}

.info__heading-name {
  font-size: 30px;
  text-decoration: underline;
}

.info__desc {
  max-width: 80%;
  max-height: 50%;
  font-family: var(--accent-font);
  font-size: 20px;
  font-weight: 900;
  color: var(--neutral-color);
  line-height: 25px;
}

.info__nav {
  display: flex;
  justify-content: space-between;
}

.info__nav > button {
  margin: 0;
  padding: 0;
  font-family: var(--tertiary-font);
  font-weight: 600;
  font-size: 24px;
}

.info__nav > button:hover {
  text-decoration: solid underline;
}

footer {
  background-color: var(--footer-color);
  min-height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: var(--secondary-font);
  box-shadow: inset 0px 0px 75px 50px rgba(0, 0, 0, 0.25);
  gap: 50px;
}

.footer-links {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-around;
}

.footer-links h2 {
  font-size: 1.5rem;
  font-weight: 100px;
}

.footer-links li {
  list-style: none;
}

.footer-links a {
  font-family: var(--tertiary-font);
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer__divider {
  color: white;
  height: 1px;
  width: 1600px;
}

.footer-disclaimer {
  display: flex;
  flex-direction: row;
  max-width: 50%;
  align-items: center;
  gap: 50px;
}

.footer-disclaimer h2 {
  text-decoration: underline;
}

.footer-disclaimer p {
  font-size: 1rem;
  color: var(--disclaimer-color);
  line-height: 100%;
  letter-spacing: -3%;
}
